body {
    background-image: url("trial6.jpg");
    background-attachment:fixed;
    background-size: cover;
    flex: 1; /* Set the body to take the remaining available width */
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }

  p {
    font-size: 30px;
  }