body {
    background-image: url("trial4.jpg");
    background-attachment:fixed;
    background-size: cover;
    flex:1;
    font-family: 'Brush Script MT', cursive;
    font-size:30px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #fffdfd;
  }
  
  p {
    text-align: center;
    color: #ffffff;
  }
  
  ul {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #a5d1ff;
    text-decoration: none;
  }
  
  form {
    text-align: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    font-family: 'Brush Script MT', cursive;
    font-size:20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  