body {
  background-image: url("trial3.jpg");
  background-attachment:fixed;
  background-size: cover;
  flex: 1; /* Set the body to take the remaining available width */
  font-family: 'Brush Script MT', cursive;
  font-size: 25px;
  color: white;
}

/* Style for the header section */
header {
  color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  margin: 0;
}

li {
  list-style-type: none;
}
/* Style for the main content section */
main {
  padding: 20px;
}

.services {
  max-width: 800px;
  margin: 0 auto;
}

.services h2 {
  font-size: 36px;
  text-align: center;
}

.services p {
  font-size: 30px;
  line-height: 1.6;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  margin-bottom: 20px;
}

.services h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style for the footer section */
footer {
  background-color: #f5f5f5;
  padding: 0px;
  text-align: center;
  font-size: 23px;
  color: #333;
  margin-top: auto; /* This will push the footer to the bottom */
  margin-left: -500px; /* Add negative margin to overlap the sidebar */
  width: calc(100% + 500px); /* Increase the width to cover the overlap */
}